html {
  scroll-behavior: smooth !important;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

body {
  box-sizing: border-box;
  max-width: 900px;
  margin: auto;
  background-color: #fdfdfd;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #161616;
  }
}
