html {
  scroll-behavior: smooth !important;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

body {
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  background-color: #fdfdfd;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #161616;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 700;
}
