.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foreground-color);
}

@media (prefers-color-scheme: dark) {
  .pageTitle {
    color: #f5f5f5;
  }
}

@media only screen and (max-width: 600px) {
  .pageTitle {
    margin-bottom: 40px;
  }
}

.sub {
  font-size: 14px;
  font-weight: 500;
}

.heading {
  letter-spacing: -0.3px;
  font-size: 24px;
  font-weight: 600;
  font-variation-settings: 'wght' 700;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  font-weight: 500;
}

.description,
.sub {
  color: var(--text-light);
}

@media only screen and (max-width: 600px) {
  .bookmarks {
    padding: 0px 24px;
  }
}

.search {
  margin-top: 40px;
  background-color: #f5f5f5;
  border-radius: 16px;
  border: none;
  outline: none;
  color: #1e1e1e;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  width: -webkit-fill-available;
  margin-right: 8px;
}

@media (prefers-color-scheme: dark) {
  .search {
    background-color: #292929;
    color: #e4e6eb;
  }
}

.grid {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.bookmark {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 24px 24px 28px 24px;
  border-radius: 24px;
  filter: grayscale(0%);
  background-color: #f5f5f5;
  border: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}

.bookmark:hover {
  background-color: #e3e3e3;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .bookmark {
    padding: 24px;
    margin-right: 0px;
  }
  .search {
    margin-top: 0px;
    margin-right: 0px;
  }
}

@media (prefers-color-scheme: dark) {
  .bookmark {
    background-color: #292929;
  }
  .bookmark:hover {
    background-color: #313131;
  }
}

.bookmark:hover .bookmarkThumbnail {
  display: block;
}

.bookmark:hover .bookmarkTexts {
  color: white !important;
}

.texts {
  vertical-align: top;
  z-index: 9;
  width: 100%;
  position: relative;
  aspect-ratio: 1, 9;
}

.title {
  color: #1e1e1e;
  font-weight: 700;
  font-variation-settings: 'wght' 700;
  font-size: 20px;
  letter-spacing: -0.4px;
}

@media (prefers-color-scheme: dark) {
  .title {
    color: #f5f5f5;
  }
}

.description {
  color: #777777;
  font-size: 14px;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
  padding-top: 8px;
}

.image {
  width: 100%;
  height: 56.3%;
  border-radius: 12px;
  margin-bottom: 16px;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.footer {
  margin: 64px 64px;
  padding-bottom: 64px;
  padding-right: 64px;
  border-radius: 12px;
  display: flex;
}

.back-to-top {
  color: white;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  background-color: #e8e8e8;
  opacity: 0;
  transform: translateY(35px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

.back-to-top:hover {
  background-color: #e8e8e8;
  transform: translateY(-5px);
}

@media (prefers-color-scheme: dark) {
  .back-to-top {
    background-color: #292929;
  }
  .back-to-top:hover {
    background-color: #313131;
  }
}
